.vscode
ruby/.vscode
rails_app/tmp
rails_app/public/cached_images
rails_app/log
rails_app/storage
rails_app/node_modules
rails_app/app/assets/builds
rails_app/yarn-error.log
rails_app/.yarn-integrity
rails_app/public/assets
.DS_Store
*.swp
*.swo